<html>
  <head>
    <title>Video Streaming Demonstration</title>
  </head>

  <body>
    <h1>Video Streaming Demonstration</h1>
    <img id="bg" src="{{ url_for('video_feed') }}">

    <input type="text" id="formValueId" name="valueId"/>
    <button type="button" class="btn btn-dark" onclick="process(document.getElementById('formValueId').value);">Save video</button>

    <script type=text/javascript>
      function process(index) {
       $.get(`/process_data/${index}`, {}, function (data, status) {
        //do nothing
       });
       }
    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  </body>

</html>