<html>
  <head>
    <title>Video Streaming Demonstration</title>
  </head>
  <body>
    <h1>Video Streaming Demonstration</h1>


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type=text/javascript>
        $(function() {
          $('a#test').bind('click', function() {
            $.getJSON('/save_video_button?ttrrr',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>
 <div class='container'>
    <h3>For save video press Save video</h3>
        <form>
            <a href=# id=test><button class='btn btn-default'>Save video</button></a>
        </form>

 </div>

  </body>
</html>